body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("images/portfolio-background.jpg");
    background-size: cover;
    background-repeat:space;
    background-position: center;
    background-attachment: fixed;
    height: 2000px;
}

.intro-info{
    width: 80%;
    max-width: 900px;
}

main{
    width: 80%;
    max-width: 900px;
}

h1, h2{
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
}

h2{
    margin-top: 200px;
}

p{
    font-family: 'Inter';
    font-size: 18px;
    color: rgb(63, 62, 62);
    font-weight: 500;
    text-align: center;
    font-size: 19px;
    line-height: 25px;
}

.center-tags{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
}

.center-tags div{
    display: inline;
    width: 90px;
    height: 30px;
    background-color: rgba(179, 180, 180, 0.26);
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-left: 8px;
    border: none;
    border-radius: 10px;
}

.center-tags img{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    
    border-radius: px;
}


.education-info img{
    width: 100px;
    height: 80px;
    border-radius: 40px;
}

.education-info div{
    width: 300px;
}

.education-info a{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.education-info a:link{
    text-decoration: none;
    color: rgb(63, 62, 62);

}

.education-info a:visited{
    color: rgb(63, 62, 62);
    text-decoration: none;
}

.education-info p{
    width: 100%;
    text-align: left;
}

.skills-section-header h2{
    margin-bottom: 0;
}
.skills-section-header p{
    margin-top: 0;
    margin-bottom: 60px;
}
.skills-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;display: flex;
    flex-direction: column;
    
}
.section-header{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 10px;
    font-weight: bold;
    font-family: 'Nunito';
}

.marker, .marker1, .marker2{
    display: inline;
    background-color: rgb(64, 129, 250);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.skills, .skills1, .skills2{
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 50, 136);
    margin-top: 7px;
    background-color: rgb(210, 225, 252);
    padding-left: 15px;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 8px;
    width: fit-content;
    height: 15px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(64, 129, 250, 0.521);
    font-size: 15px;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 10px;
    width: 180px;
}

.skills-section-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.marker1{
    background-color: rgb(14, 173, 173);
}

.skills1{
    color: rgb(8, 107, 107);
    border-color: rgba(8, 107, 107, 0.397);
    background-color: rgba(192, 247, 247, 0.678);
}


.marker2{
    background-color: blueviolet;
}

.skills2{
    color: rgb(133, 43, 216);
    border-color: rgba(137, 43, 226, 0.438);
    background-color: rgba(223, 194, 250, 0.616);
}