body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("images/portfolio-background.jpg");
    background-size: cover;
    background-repeat:space;
    background-position: center;
    background-attachment: fixed;
    height: 4000px;
    margin-top: 80px;
}

header{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    height: 80px;

}

header button{
    font-family: 'Nunito';
    margin-right:10px ;
    padding: 15px;
    padding-top: 9px;
    height: 40px;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    cursor: pointer;
}

header a:hover{
    scale: 1.2;
    transition: 10ms;
}

section{
    display: flex;
    background-color: rgba(255, 255, 255, 0.388);
    width: 50%;
    border-radius: 100px;
    justify-content: center;
    padding: 20px;
    margin-top: 60px;

}

.intro-info{
    width: 80%;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.388);
    border-radius: 100px;
    
}

.intro-info p{
    background-color: transparent;
}

main{
    width: 80%;
    max-width: 900px;
}

h1, h2{
    font-family: 'Nunito', sans-serif;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    text-align: center;
    margin-bottom: 0;
    margin-top: 8px;
}

h2{
    margin-top: 200px;
}

p{
    font-family: 'Inter';
    padding: 40px;
    font-size: 18px;
    color: rgb(63, 62, 62);
    font-weight: 500;
    text-align: center;
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    line-height: 30px;
    width: fit-content;
    border-radius: 100px;
    background-color:  rgba(255, 255, 255, 0.444);
    line-height: 30px;
}

.center-tags{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
}

.center-tags div{
    display: inline;
    width: 90px;
    height: 30px;
    background-color: rgba(179, 180, 180, 0.26);
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-left: 8px;
    border: none;
    border-radius: 10px;
    animation: floating 3s ease-in-out infinite;

}

.center-tags img{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    
    border-radius: px;
}


.education-info img{
    width: 100px;
    height: 80px;
    border-radius: 40px;
}

.education-info div{
    width: 300px;
}

.education-info a{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.education-info h2{
    margin-top: 50px;
}
.education-info a:link{
    text-decoration: none;
    color: rgb(63, 62, 62);

}

.education-info a:visited{
    color: rgb(63, 62, 62);
    text-decoration: none;
}

.education-info p{
    width: 100%;
    text-align: left;
    background-color: transparent;
}

.education-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.388);
    border-radius: 100px;
    padding-left: 30px;
    padding-top: 1px;
    margin-top: 200px;
    width: fit-content;
}

.skills-section-header h2{
    margin-bottom: 0;
}
.skills-section-header p{
    margin-top: 0;
    margin-bottom: 60px;
    background-color: transparent;
}
.skills-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    
}
.section-header{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 10px;
    font-weight: bold;
    font-family: 'Nunito';
}

.marker, .marker1, .marker2{
    display: inline;
    background-color: rgb(64, 129, 250);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.skills, .skills1, .skills2{
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 50, 136);
    margin-top: 7px;
    background-color: rgb(210, 225, 252);
    padding-left: 15px;
    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 8px;
    width: fit-content;
    height: 15px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(64, 129, 250, 0.521);
    font-size: 15px;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 10px;
    width: 180px;
    cursor: default;
}

.skills-section-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width: 100%;
    justify-content: space-evenly;
}

.marker1{
    background-color: rgb(14, 173, 173);
}

.skills1{
    color: rgb(8, 107, 107);
    border-color: rgba(8, 107, 107, 0.397);
    background-color: rgba(192, 247, 247, 0.678);
}


.marker2{
    background-color: blueviolet;
}

.skills2{
    color: rgb(133, 43, 216);
    border-color: rgba(137, 43, 226, 0.438);
    background-color: rgba(223, 194, 250, 0.616);
}


footer{
    display: flex;
    position: fixed;
    bottom: 10px;
    gap: 30px;
    background-color: aliceblue;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 20px;
    width: fit-content;
    padding: 10px;
    border-radius: 25px;

}

header{
    position: fixed;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

.main-header{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 20px;
    margin: 5px;
    margin-right: 8px;
}

.main-header button{
    height: 40px;
    padding: 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: black;
    color: white;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.indv-project{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: fit-content;
    overflow: hidden;
    background-color:rgb(246, 246, 246);
    border-radius: 20px;
    height: 550px;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
}

.indv-project img{
    width: 100%;
    height: 250px;
    display: block;
    border-bottom: 1px solid silver;
}

.indv-project p{
    all: initial;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Inter';
    color: rgb(63, 62, 62);
    font-weight: 500;
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    border-radius: 100px;


}

.indv-project h3{
    font-family: 'Nunito', sans-serif;
    margin-left: 15px;
}

.tools-used{
    display: flex;
    gap: 5px;
    margin-left: 15px;
    
}

.tools-used div{
    display: inline;
    font-family: 'Inter';
    color: rgba(0, 0, 0, 0.8);
    margin-top: 25px;
    background-color:rgba(178, 178, 178, 0.649);
    padding-left: 12px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 8px;
    width: fit-content;
    height: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    font-size: 13px;
}
.source{
  display: inline-flex;            
  align-items: center;             
  gap: 6px;                        
  font-family: 'Inter', sans-serif;
  color:white;
  background-color: black;
  padding-top: 6px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid silver;
  font-size: 13px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 15px;
  width: fit-content; 
  cursor: pointer;          
}

.source img {
  width: 20px;
  height: 20px;
}
@keyframes floating{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
}